@page
@model Web.Razor.Pages.En.NewsModel

@{
    ViewData["Title"] = "News";
}

<section class="mq-container mt-space fade-in">
    @await Html.PartialAsync("_PanelShell", new Web.Razor.Pages.Shared.PanelShellModel { Title = (string)ViewData["ServerName"] + " News", Description = "Hear all about us here!", Center = false, AdditionalClasses = "panel-p-xl panel-variant-success" })
        <div class="row">
            <div class="col-lg-5 center d-flex flex-column align-items-center justify-content-center mb-4 mb-lg-0" data-reveal>
                <img class="site_logo" src="/_content/Web.Razor/logo.png" alt="Site Logo" style="max-width:140px;" />
            </div>
            <div class="col-lg-7" style="font-size:.85rem; line-height:1.4; color:var(--mq-color-text-dim);" data-reveal>
                <article class="flow">
                    <h3 class="t-sub" style="color:var(--mq-color-text);">Latest</h3>
                    <p>@Model.News</p>
                </article>
            </div>
        </div>
    </div>
</section>
