@page
@model Web.Razor.Pages.En.Privacy_PolicyModel

@section Stylesheets {
    <link href="~/_content/Web.Razor/SignUp/style.css" rel="stylesheet" />
}

@{
    ViewData["Title"] = "Privacy Policy";
}

<div class="container d-flex justify-content-center align-items-center">
    <div class="card signup-card">
        <div class="row g-0">
            <div class="col-md-6 info-container">
                <img class="site_logo rounded-circle" src="~/_content/Web.Razor/logo.png" alt="Site Logo" />
                <p class="description">Privacy Policy</p>
                <h3 class="text-warning">Effective Date: 04/09/2024</h3>
            </div>
            <div class="col-md-6 form-container">
                <br />
                <h3>
                    1. Introduction
                </h3>
                <p>
                    We are committed to protecting your privacy and ensuring that your personal information is handled in a safe and responsible manner. This Privacy Policy outlines how we collect, use, and protect your information.
                </p>
                <h3>
                    2. Information We Collect
                </h3>
                <p>
                    Personal Information: When you register on our site, we may collect personal information such as your email address and username.
                </p>
                <h3>
                    3. How We Use Your Information
                </h3>
                <p>
                    To Provide Services: We use your information to create and manage your account.
                </p>
                <h3>
                    4. Security
                </h3>
                <p>
                    We implement a variety of security measures to maintain the safety of your personal information. However, no method of transmission over the internet or electronic storage is 100% secure.
                </p>
                <h3>
                    5. Changes to This Policy
                </h3>
                <p>
                    We may update this Privacy Policy from time to time. We will notify the community of any changes by posting the new policy on our site.
                </p>
            </div>
        </div>
    </div>
</div>
