@page
@model Web.Razor.Pages.En.SignUp.ReportABugModel

@section Stylesheets {
    <link href="~/_content/Web.Razor/SignUp/style.css" rel="stylesheet" />
}

@{
    ViewData["Title"] = "Help";
}

<div class="container d-flex justify-content-center align-items-center">
    <div class="align card signup-card">
        <div class="grid align_item">
            <div class="register">
                <img class="site_logo" src="~/_content/Web.Razor/logo.png" , alt="Site Logo" />
                <h2>Help</h2>
                <p class="description">Please visit our Discord server to recieve help with @ViewData["ServerName"].</p>
            </div>
        </div>
    </div>
</div>