@page
@model Web.Razor.Pages.En.SignUpModel

@{
    ViewData["Title"] = "Sign Up";
}

@section Scripts {
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
}

@if (!string.IsNullOrEmpty(Model.StatusMessage))
{
    <script>
        window.onload = function () {
            Swal.fire({
                text: '@Model.StatusMessage',
                showConfirmButton: false
            });
        };
    </script>
}

<div class="container d-flex justify-content-center align-items-center">
    <div class="card signup-card">
        <div class="row g-0">
            <div class="col-md-6 info-container">
                <img class="site_logo rounded-circle" src="/_content/Web.Razor/logo.png" alt="Site Logo" />
                <p class="description">Join our community and explore!</p>
            </div>
            <div class="col-md-6 form-container">
                <form asp-action="SignUp" method="post" class="form text-center">
                    <div class="form_field">
                        <label asp-for="Username"></label>
                        <span asp-validation-for="Username" class="text-danger"></span>
                        <input asp-for="Username" class="border" placeholder="XXX_Monkey_King_XXX">
                    </div>

                    <div class="form_field">
                        <label asp-for="Password"></label>
                        <span asp-validation-for="Password" class="text-danger"></span>
                        <input asp-for="Password" class="border" placeholder="Enter Password Here">
                    </div>

                    <div class="form_field">
                        <label asp-for="ConfirmPassword"></label>
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                        <input asp-for="ConfirmPassword" class="border" placeholder="Confirm Password Here">
                    </div>

                    <div class="form_field">
                        <label asp-for="Email"></label>
                        <span asp-validation-for="Email" class="text-danger"></span>
                        <input asp-for="Email" class="border" placeholder="info@mailaddress.com">
                    </div>

                    <div class="form_field">
                        <label asp-for="Gender"></label>
                        <span asp-validation-for="Gender" class="text-danger"></span>
                        <select asp-for="Gender" asp-items="Pages.En.SignUpModel.Genders" class="border" placeholder="Gender">
                            <option disabled selected>SELECT</option>
                        </select>
                    </div>

                    <div class="form_field">
                        <label asp-for="Date"></label>
                        <span asp-validation-for="Date" class="text-danger"></span>
                        <input asp-for="Date" class="border">
                    </div>

                    <div class="form_field">
                        <label asp-for="Region"></label>
                        <span asp-validation-for="Region" class="text-danger"></span>
                        <select asp-for="Region" asp-items="Pages.En.SignUpModel.Regions" class="border" placeholder="Region">
                            <option disabled selected>SELECT</option>
                        </select>
                    </div>
                    <br />
                    <div class="form_field">
                        <input type="submit" value="Sign Up">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
