@page
@model Web.Razor.Pages.En.SuccessModel

@section Stylesheets {
    <link href="~/_content/Web.Razor/SignUp/style.css" rel="stylesheet" />
}

@{
    ViewData["Title"] = "Successful Sign Up";
}

<body class="align">
<div class="grid align_item">
    <div class="register">
        <img class="site_logo" src="~/_content/Web.Razor/SignUp/logo.png", alt="Site Logo"/>
        <h2>Successfully signed up!</h2>
    </div>
</div>
</body>