@page
@model Web.Razor.Pages.En.SuccessModel

@{
    ViewData["Title"] = "Successful Sign Up";
}

<div class="container d-flex justify-content-center align-items-center">
    <div class="align card signup-card">
        <div class="grid align_item">
            <div class="register">
                <img class="site_logo" src="/_content/Web.Razor/logo.png" , alt="Site Logo" />
                <h2>Successfully signed up!</h2>
                <br />
                <div class="form text-center">
                    <div class="form_field">
                        <a href="/download">
                            <input type="submit" value="Download">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>