@page
@model Web.Razor.Pages.En.Terms_Of_UseModel

@{
    ViewData["Title"] = "Terms Of Use";
}

<section class="mq-container mt-space fade-in">
    @await Html.PartialAsync("_PanelShell", new Web.Razor.Pages.Shared.PanelShellModel { Title = "Terms Of Use", Description = "By accessing and using this website, you agree to the terms below.", Center = false })
        <div class="row">
            <div class="col-lg-4 center d-flex flex-column align-items-center mb-4 mb-lg-0" data-reveal>
                <img class="site_logo" src="/_content/Web.Razor/logo.png" alt="Site Logo" style="max-width:140px;" />
            </div>
            <div class="col-lg-8" style="font-size:.85rem; line-height:1.45; color:var(--mq-color-text-dim);" data-reveal>
                <article class="flow">
                    <section>
                        <h3 class="t-sub" style="color:var(--mq-color-text);">1. Acceptance of Terms</h3>
                        <p>By accessing this website, you agree to be bound by these terms of use, all applicable laws and regulations, and agree that you are responsible for compliance with any applicable local laws.</p>
                    </section>
                    <section>
                        <h3 class="t-sub" style="color:var(--mq-color-text);">2. Disclaimer</h3>
                        <p>The materials on this website are provided on an 'as is' basis. This website makes no warranties, expressed or implied, and hereby disclaims and negates all other warranties.</p>
                    </section>
                    <section>
                        <h3 class="t-sub" style="color:var(--mq-color-text);">3. Site Terms of Use Modifications</h3>
                        <p>The server may revise these terms of use for its website at any time without notice. By using this website you are agreeing to be bound by the then current version of these terms of use.</p>
                    </section>
                </article>
            </div>
        </div>
    </div>
</section>
