.git
.gitignore
.github
**/bin
**/obj
**/.vs
**/.vscode
**/node_modules
**/*.user
**/*.suo
**/*.cache
**/*.log
**/*.nupkg
**/*.snupkg
**/*.7z
**/*.rar
**/*.tmp
**/*.swp
**/*.DS_Store
Server.Reawakened/Dependencies
Server.Reawakened/Dependencies/**
