@page
@model Web.Razor.Pages.LogoutModel

@section Stylesheets {
    <link href="~/_content/Web.Razor/SignUp/style.css" rel="stylesheet" />
}

@{
    ViewData["Title"] = "Logged out";
}

<div class="container">
    <div class="align">
        <div class="grid align_item">
            <div class="register">
                <img class="site_logo" src="~/_content/Web.Razor/SignUp/logo.png" , alt="Site Logo" />
                <h2>Successfully logged out.</h2>
            </div>
        </div>
    </div>
</div>