* {
    box-sizing: border-box;
}

.align {
    align-items: center;
    display: flex;
    flex-direction: row;
}

.site_logo {
    margin-bottom: 1rem;
    border-radius: 50%;
    width: 50%;
}

.grid {
    margin: 0 auto;
    max-width: 25rem;
}

h2 {
    font-size: 2.75rem;
    font-weight: 100;
    margin: 0 0 1rem;
    text-transform: uppercase;
    text-shadow: black 0px 0px .5rem;
}

.register {
    box-shadow: 0 0 250px #000;
    text-align: center;
    padding: 4rem 2rem;
    background-color: #577B3D;
}

/* Bootstrap overrides and additional styles */
.navbar + .container {
    padding-top: 1rem; /* Adds padding below the navbar */
    padding-bottom: 1rem; /* Adds padding below the navbar */
}
