@page
@model Web.Razor.Pages.En.SignUp.Forgot_PasswordModel

@section Stylesheets {
    <link href="~/_content/Web.Razor/SignUp/style.css" rel="stylesheet" />
}

@{
    ViewData["Title"] = "Reset Password";
}

<div class="container d-flex justify-content-center align-items-center">
    <div class="card signup-card">
        <div class="row g-0">
            <div class="col-md-6 info-container">
                <img class="site_logo rounded-circle" src="~/_content/Web.Razor/logo.png" alt="Site Logo" />
                <p class="description">Reset Password</p>
            </div>
            <div class="col-md-6 form-container">
                <form asp-action="ForgotPassword" method="post" class="form text-center">
                    <h3>Please enter your username, and a link will be sent to your email</h3>
                    <br />
                    <div class="form_field">
                        <label asp-for="Input.Username"></label>
                        <span asp-validation-for="Input.Username" class="text-danger"></span>
                        <input asp-for="Input.Username" class="border" placeholder="XXX_Monkey_King_XXX" />
                    </div>
                    <div class="form_field">
                        <input type="submit" value="Reset Password">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
