@page
@model Web.Razor.Pages.En.SignUp.ResetPasswordModel

@{
    ViewData["Title"] = "Reset Password";
}

<div class="container d-flex justify-content-center align-items-center">
    <div class="card signup-card">
        <div class="row g-0">
            <div class="col-md-6 info-container">
                <img class="site_logo rounded-circle" src="/_content/Web.Razor/logo.png" alt="Site Logo" />
                <p class="description">Reset Password</p>
            </div>
            <div class="col-md-6 form-container">
                <form asp-action="ResetPassword" method="post" class="form text-center">
                    <h3>Please enter your new password</h3>
                    <br />

                    <div class="form_field">
                        <label asp-for="Password"></label>
                        <span asp-validation-for="Password" class="text-danger"></span>
                        <input asp-for="Password" class="border" placeholder="Enter Password Here">
                    </div>

                    <div class="form_field">
                        <label asp-for="ConfirmPassword"></label>
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                        <input asp-for="ConfirmPassword" class="border" placeholder="Confirm Password Here">
                    </div>

                    <div class="form_field">
                        <input type="submit" value="Reset Password">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
