@page
@model Web.Razor.Pages.En.SignUp.ResetPasswordConfirmationModel

@section Stylesheets {
    <link href="~/_content/Web.Razor/SignUp/style.css" rel="stylesheet" />
}

@{
    ViewData["Title"] = "Successful Password Reset";
}

<div class="container d-flex justify-content-center align-items-center">
    <div class="align card signup-card">
        <div class="grid align_item">
            <div class="register">
                <img class="site_logo" src="~/_content/Web.Razor/logo.png" , alt="Site Logo" />
                <h2>Password Reset Confirmed</h2>
                <p class="description">If an account with that username exists, a password reset email has been sent.</p>
            </div>
        </div>
    </div>
</div>