@page
@model Web.Razor.Pages.En.SignUp.ResetPasswordInvalidModel

@{
    ViewData["Title"] = "Invalid Password Reset";
}

<div class="container d-flex justify-content-center align-items-center">
    <div class="align card signup-card">
        <div class="grid align_item">
            <div class="register">
                <img class="site_logo" src="/_content/Web.Razor/logo.png" , alt="Site Logo" />
                <h2 class="text-warning">Password reset URL is invalid, try again</h2>
            </div>
        </div>
    </div>
</div>