@page
@model Web.Razor.Pages.Account.AccessDeniedModel

@{
    ViewData["Title"] = "Access Denied";
}

<div class="container d-flex justify-content-center align-items-center">
    <div class="align card signup-card">
        <div class="grid align_item">
            <div class="register">
                <img class="site_logo" src="/_content/Web.Razor/logo.png" , alt="Site Logo" />
                <h2 class="text-warning">Unable to sign up</h2>
                <h4>An account likely already exists with either that username or password.</h4>
            </div>
        </div>
    </div>
</div>